.content {
  font-family: 'Handlee', cursive;
}

.letter {
  width: 700px;
  height: 780px;
}

.letterback {
  width: 700px;
  height: 780px;
}

.datepicker-input {
  display: inline-block;
  vertical-align: middle;
}
/*calendar
date month (jan MMM), year (YYYY)*/
